body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

main {
    width: 310px;
    margin: 80px auto;
}

.auth-title {
    font-size: 155%;
    font-weight: bold;
    text-align: center;
    color: rgb(24, 23, 23);
    margin-bottom: 40px;
}

#input-container {
    text-align: center;
}

.auth-input {
    width: 280px;
    outline: none;
    border: solid 2px black;
    padding: 6px 10px;
}

.error-info {
    color: red;
    text-align: left;
    font-size: 80%;
    height: 30px;
    margin: 6px 0;
    padding: 0 10px;
    word-wrap: break-word;
}

.submit-button-area {
    text-align: center;
}

.submit-button {
    cursor: pointer;
    color: white;
    font-size: 110%;
    font-weight: bold;
    width: 305px;
    padding: 5px;
    margin: 3px 0px;
    outline: lightgray;
    background-color: royalblue;
}

.submit-button:hover {
    background-color: rgb(65, 161, 225);
}

.partition-line {
    border: solid 1px lightgray;
    background-color: lightgray;
    margin: 30px 15px 10px 15px;
}

.go-to {
    text-decoration: underline;
    text-align: center;
    font-size: 80%;
}

a,a:visited{
    color: black;
}

#menu {
    margin-top: 45px;
    text-align: center;
}

.menu-item {
    padding: 5px;
    font-size: 93%;
    text-align: center;
    display: inline-block;
}
