<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microservice</title>

    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <main>
        <div id="index-title">Micro Service Sample</div>
        <div id="content">
            <a href="https://github.com/mtsalt/AuthServer">Github</a>
        </div>
    </main>
</body>
</html>