<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microservice - Register</title>

    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/config.js"></script>
    <script src="static/js/exception.js"></script>
    <script src="static/js/common.js"></script>
    <script src="static/js/validation.js"></script>
    <script src="static/js/main.js" async></script>
</head>
<body>
    <main>
        <div class="auth-title">Register</div>
        <div id="input-container">
            <input id="username" class="auth-input" type="text" placeholder="Username">
            <p id="username-error-info" class="error-info"></p>
            <input id="email" class="auth-input" type="text" placeholder="Email">
            <p id="email-error-info" class="error-info"></p>
            <input id="password" class="auth-input" type="password" placeholder="Password">
            <p id="password-error-info" class="error-info"></p>
        </div>
        <div class="checkbox-area">
            <input id="agree" class="agreement-checkbox" type="checkbox">
            <p class="checkbox-label">I accept <a href="#">the terms of use and privacy policy</a></p>
        </div>
        <div class="submit-button-area">
            <button class="submit-button" id="register" onclick="postRegisterData()">Register</button>
        </div>
        <div class="partition-line"></div>
        <div class="go-to"><a href="/signin">Already have an account? Sign in</a></div>
        <div id="menu">
            <div class="menu-item"><a href="/">Home</a></div>
            <div class="menu-item"><a href="/signin">Sign in</a></div>
            <div class="menu-item"><a href="/forgot_password">Forgot password</a></div>
        </div>
    </main>
</body>
</html>